@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,500&display=swap');



/* teste */
*{margin: 0; padding:0; box-sizing:border-box;} /* sem espaço nas laterais */

body {
    display: grid;
    place-items: center;  /*centraliza a imagem*/
}
section#carousel div#item-wrapper {
    width: 100%; /*ocupação total da pag*/
}
section#carousel div#item-wrapper div#item{
    display: flex; /*mantem uma imagem ao lado da outra*/
    /*habilita um scroll somente nas imagens*/
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    -webkit-overflow-scrolling: touch; /*habilita a função em outros dispositivos*/
    scroll-behavior: smooth; /*passa a imagem de forma suave*/
}
.item{
    flex: none; /*uma imagem ao lado da outra*/
    width: 100%;
    height: 700px;
    scroll-snap-align: start; /*alinha o inicio da imagem*/
    pointer-events: none;
}
section#carousel div#item-wrapper div#item img{
    /*ocupação total da div*/
    width: 100%;
    height: 100%;
    object-fit: cover; /*não permite que a imagem fique distorcida*/
}
/*html*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
nav{
    padding: .8vw;
    position: relative;
    width: 100%;
}
nav ul{
    background-color: #023047;
    list-style: none;
    display: flex; 
    justify-content: center;
    
}
nav ul h2{
    color: #8ecae6;
    font-size: 2vw;
}
nav ul li{
    padding: .8vw; 
    margin-left: 5vw;
    justify-content: center;
    color: #fff;
    font-size: 1vw;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
} 
nav div{
    background-color: #219dbcaf;
    width: 100%;
    list-style: none;
}
nav div li{
    justify-content: center;
    display: flex;
    margin-left: 3vw;
    font-size: 1.5vw;
    font-weight: 700;
}
nav div li a{
    text-decoration: none;
    color: #023047;
}
section#covid{
    padding: 2vw;
    justify-content: center;
    align-items: center;
    width: 65%;
}
section#covid div#alerta {
    padding: auto;
    border: 3px solid #023047;
    border-radius: 5rem;
    display: flex;
    width: 100%;
}
section#covid div#alerta div#protocolo{
    padding: 5vw;
    
}
section#covid div#alerta div#protocolo h3{
    font-size: 2vw;
    font-weight: 600;
    padding: 1vw;
    text-align: start;
    line-height: 2vw;
}
section#covid div#alerta div#protocolo p{
    font-size: 1vw;
    font-weight: 300;
    padding: auto;
    text-align: justify;
    line-height: 2vw;

}
section#covid div#alerta div#covidimg img{
    width: 50%;
    padding: 2vw;
    align-items: center;
}

section#cards{
    justify-content: center;
    align-items: center;
    padding: 3vw;
}
    section#cards div#destinos1 {
    padding: 2vw;
    display: flex;
} 
section#cards div#destinos1 div {
    border: 3px solid #023047;
    padding: 3vw;
    text-align: center;
    padding: 1vw;
    font-size: 1.4vw;
    border-radius: 5rem;
    background-color: #8ecae694;
    cursor: pointer;
    transition: 2s ease-out;    
}
section#cards div#destinos1 div:hover{
    background-color: #219dbcc0;
    transform: scale(1.2);
}

section#cards div#destinos2 {
    padding: 2vw;
    display: flex;
} 
section#cards div#destinos2 div {
    border: 3px solid #023047;
    padding: 3vw;
    text-align: center;
    padding: 1vw;
    font-size: 1.4vw;
    border-radius: 5rem;
    background: #8ecae694;
    cursor: pointer;
    transition: 2s ease-out;    
}
section#cards div#destinos2 div:hover{
    background-color: #219dbcc0;
    transform: scale(1.2);
}    
/* Dar espaço entre os card*/
/*ajustar campo covid*/