<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Trip</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <ul>
            <h2>Blue Trip</h2>
            <li><a href="./missao.html">Nossa missão</a></li>
            <li><a href="./pacotes.html">Produtos</a></li>
            <li><a href="">Fale conosco</a></li>
        </ul>
        <div>
            <li> <a href="">Monte sua viagem </a></li>
        </div>
    </nav>
<!-- carousel -->
    <section id="carousel">
        <div id="item-wrapper">
            <div id="item">
                <div class="item"> <img src="../static/img/Fernando_de_Noronha_-_PE-_Cacimba_do_Padre.jpg" alt=""></div>
                <div class="item"> <img src="../static/img/jericoacoara.jpg" alt=""></div>
                <div class="item"> <img src="../static/img/Machu_Picchu,_Peru.jpg" alt=""></div>
            </div>
        </div>

    </section>      
    <section id="covid">
        <div id="alerta">
            <div id="protocolo">
                <h3>Viaje com segurança</h3>
                <p>Protocolos de saúde COVID-19</p>
            </div>
            <div id="covidimg">
                <img src="../static/img/covid.png" alt="">
            </div>
        </div>
    </section> 
    <section id="cards">
        <div id="destinos1">
            <div id="destino-card1">
                <h2>Destino1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque porro quidem assumenda, quasi facilis illum maiores architecto fugit ea eaque reiciendis perspiciatis possimus accusamus unde id deleniti expedita obcaecati dolorum.</p>
            </div>
            <div id="destino-card2">
                <h2>Destino2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque porro quidem assumenda, quasi facilis illum maiores architecto fugit ea eaque reiciendis perspiciatis possimus accusamus unde id deleniti expedita obcaecati dolorum.</p>
            </div>
        </div>
        <div id="destinos2">
            <div id="destino-card3">
                <h2>Destino3</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque porro quidem assumenda, quasi facilis illum maiores architecto fugit ea eaque reiciendis perspiciatis possimus accusamus unde id deleniti expedita obcaecati dolorum.</p>
            </div>
            <div id="destino-card4">
                <h2>Destino4</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque porro quidem assumenda, quasi facilis illum maiores architecto fugit ea eaque reiciendis perspiciatis possimus accusamus unde id deleniti expedita obcaecati dolorum.</p>
            </div>
        </div>

    </section> 

    

    <script src="../static/js/script.js"></script>
</body>
<footer>
    <ul>
        <li>
            <a href="perfil.html"> <h2></h2>Quem somos</h2> </a>

        </li>
    </ul>
</footer>
</html>


